/* Publications List */
.publication-content {
    text-align: left;
}

.publication-content h2{
    text-align: center;
    font-size: 2rem;
}

.publication-list {
    list-style-type: decimal;
    margin: 2rem auto;
    padding: 0;
    max-width: 800px;
}

.publication {
    background-color: white;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.publication p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.publication em {
    font-style: italic;
}

.publication-links {
    margin-top: 1rem;
}

.publication-links a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    color: #500000;
}

.publication-links a:hover {
    color: #a50000;
}

.publication-links i {
    margin-right: 5px;
}

/* Style for the authors list */
.authors {
    display: block; /* Forces authors to be on a new line */
    font-size: 0.9em; /* Adjust font size for smaller text */
    font-style: italic; /* Optional: Italicize the author names */
    margin-bottom: 0.5rem; /* Adds space between authors and the publication title */
}

/* --------------------------------------------- */
/* Responsive Styles for Mobile */
/* Media query for screens with max-width of 768px */
@media (max-width: 768px) {
    .publication-content h2 {
        font-size: 1.5rem; /* Reduce the heading size for smaller screens */
    }

    .publication {
        padding: 1rem; /* Reduce padding to fit smaller screens */
    }

    .publication-list {
        max-width: 100%; /* Use the full width on mobile */
        margin: 1rem auto; /* Adjust margin for smaller screens */
    }

    .publication p {
        font-size: 1rem; /* Adjust font size for better readability */
    }

    .publication-links a {
        font-size: 1rem; /* Reduce font size for links */
        margin: 0 5px; /* Reduce spacing between links */
    }

    .authors {
        font-size: 0.8em; /* Reduce font size for author names */
    }
}

/* Media query for screens with max-width of 480px */
@media (max-width: 480px) {
    .publication-content h2 {
        font-size: 1.2rem; /* Further reduce heading size */
    }

    .publication {
        padding: 0.8rem; /* Adjust padding for smaller devices */
    }

    .publication p {
        font-size: 0.9rem; /* Smaller font size for paragraphs */
    }

    .publication-links a {
        font-size: 0.9rem; /* Smaller font size for links */
    }

    .authors {
        font-size: 0.7em; /* Smaller font size for author names */
    }
}
